<div class="footer-wave">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1000 350"
    width="100%"
    height="auto"
  >
    <path
      d="M0,400 C0,400 0,100 0,100 C46.66,91.19 93.31,82.39 139,88 C184.69,93.61 229.41,113.65 283,122 C336.59,130.35 399.05,127.03 442,119 C484.95,110.97 508.38,98.24 555,89 C601.62,79.76 671.44,74.01 728,76 C784.56,77.99 827.88,87.71 871,93 C914.12,98.29 957.06,99.14 1000,100 L1000,400 Z"
      fill="#8b6363"
    />
    <path
      d="M0,400 C0,400 0,200 0,200 C41.44,197.18 82.88,194.37 127,200 C171.12,205.63 217.92,219.72 272,219 C326.08,218.28 387.44,202.76 440,193 C492.56,183.24 536.34,179.24 576,184 C615.66,188.76 651.22,202.28 698,204 C744.78,205.72 802.80,195.63 855,193 C907.20,190.37 953.60,195.18 1000,200 L1000,400 Z"
      fill="#7c4646"
    />
    <path
      d="M0,400 C0,400 0,300 0,300 C56.20,295.41 112.39,290.83 157,287 C201.61,283.17 234.62,280.11 280,279 C325.38,277.89 383.12,278.73 437,287 C490.88,295.27 540.90,310.98 581,308 C621.10,305.02 651.30,283.35 698,280 C744.70,276.65 807.92,291.61 861,298 C914.08,304.39 957.04,302.19 1000,300 L1000,400 Z"
      fill="#6a0000"
    />
  </svg>
</div>

<footer class="footer">
  <div class="container footer-content">
    <div class="footer-column">
      <h3>MEMO</h3>
      <p>
        An assistive reminder device designed to support cognitive autonomy
        and daily routine management.
      </p>
    </div>
    <div class="footer-column">
      <h3>Quick Links</h3>
      <a data-link="index.html">Accueil</a>
      <a data-link="pages/problematic.html">Problématique</a>
      <a data-link="pages/solution.html">Notre Solution</a>
      <a data-link="pages/architecture.html">Architecture</a>
      <a data-link="pages/development.html">Développement</a>
    </div>

    <div class="footer-column">
      <h3>Team</h3>
      <a href="https://www.linkedin.com/in/léo-leman-209b393a9" target="_blank" class="footer-icon-link">
        Léo Leman
      </a>
      <a href="https://www.linkedin.com/in/samuel-le-claire-430553385/" target="_blank" class="footer-icon-link">
        Samuel Le Claire
      </a>
      <a href="https://www.linkedin.com/in/alixseiler/" target="_blank" class="footer-icon-link">
        Alix Seiler
      </a>
      <a href="https://www.linkedin.com/in/nathan-schneckenburger-b56725392/" target="_blank" class="footer-icon-link">
        Nathan Schneckenburger
      </a>
    </div>

    <div class="footer-column">
      <h3>Ressources</h3>
      <a href="https://github.com/LeoLeman555/Memo" target="_blank" class="footer-icon-link">
        Dépôt Github
      </a>
      <a
        href="https://cad.onshape.com/documents/c61afa62c2ba916dad213dbf/w/ad65fd35b4d57c5c9c84b99c/e/8dd39dfc92dac304ddd25cdb" target="_blank" class="footer-icon-link">
        Modèle 3D
      </a>
      <a href="https://www.youtube.com/@Memo-Assistive" target="_blank" class="footer-icon-link">
        Chaîne YouTube
      </a>
      <a href="mailto:memo.assistive@gmail.com" class="footer-icon-link">
        memo.assistive@gmail.com
      </a>
    </div>
  </div>
  <div class="footer-bottom">
    © 2026 MEMO — L’assistant vocal inclusif universel
  </div>
</footer>