<header class="header">
  <div class="container header-content">

    <div class="logo">
      <img src="../assets/logo-blanc.png" alt="Logo MEMO" class="logo-image">
      MEMO
    </div>

    <nav class="navigation">
      <a href="../index.html">Accueil</a>
      <a href="../pages/problematic.html">Problématique</a>
      <a href="../pages/solution.html">Notre Solution</a>
      <a href="../pages/conception.html">Conception 3D</a>
      <a href="../pages/architecture.html">Architecture technique</a>
      <a href="../pages/development.html">Développement</a>
    </nav>

  </div>
</header>