<header class="header">
  <div class="container header-content">

    <div class="logo">
      <img src="assets/logo-blanc.png" alt="Logo MEMO" class="logo-image">
      MEMO
    </div>

    <nav class="navigation">
      <a href="index.html">Accueil</a>
      <a href="problematique.html">Problématique</a>
      <a href="solution.html">Notre Solution</a>
      <a href="conception.html">Conception 3D</a>
      <a href="architecture.html">Architecture</a>
      <a href="developpement.html">Développement</a>
    </nav>

  </div>
</header>